<table>
  <tr>
    <td>
      <table id="table1">
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla11" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla21" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla31" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla12" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla22" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla32" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla13" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla23" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla33" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table id="table2">
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla41" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla51" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla61" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla42" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla52" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla62" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla43" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla53" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla63" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table id="table3">
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla71" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla81" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla91" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla72" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla82" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla92" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla73" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla83" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla93" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table id="table4">
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla14" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla24" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla34" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla15" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla25" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla35" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla16" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla26" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla36" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table id="table5">
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla44" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla54" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla64" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla45" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla55" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla65" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla46" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla56" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla66" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table id="table6">
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla74" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla84" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla94" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla75" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla85" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla95" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla76" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla86" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla96" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table id="table7">
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla17" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla27" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla37" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla18" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla28" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla38" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla19" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla29" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla39" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table id="table8">
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla47" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla57" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla67" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla48" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla58" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla68" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla49" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla59" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla69" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table id="table9">
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla77" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla87" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla97" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla78" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla88" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla98" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla79" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla89" matInput placeholder="" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="ancho-input">
              <input [(ngModel)]="casilla99" matInput placeholder="" value="">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<button mat-button color="primary" (click)="resolver()">Resolver</button>
